@charset "UTF-8";
/**
 * TABLE DES MATIERES
 *
 * BASE
 * General................Styles du body, H1, a, ul.
 * Icones.................@Fontface et paramètres des icones.
 * Polices................@Fontface des polices Shrikhand et roboto.
 *
 * UNTILS
 * Variables..............Variables des couleurs.
 * Mixins.................Mixins utiles.
 * Mixins-media-queries...Mixins pour les media queries.
 *
 * LAYOUTS
 * Containers.............Différents conteneurs (marges réutilisées).
 * Logo...................Caractéristiques du logo.
 * Footer.................Footer commun à toues les pages.
 * Restos-header..........Header des pages des restaurants.
 * Restos-titles..........Titres des pages restaurants.
 * Restos-main............Main des pages restaurants.
 *
 * COMPONENTS
 * Articles...............Liens vers les restaurants.
 * Buttons-index..........Boutons de la page d'accueil.
 * Buttons-restos.........Boutons des pages des restaurants.
 *
 * PAGES
 * Index-loading..........Loading-spinner au chargement de la page d'accueil.
 * Index-header...........Header de la page d'accueil.
 * Index-main.............Main de la page d'accueil.
 */
/*---------------------------*\
    #POLICE SHRIKHANDRE
\*---------------------------*/
@font-face {
  font-family: "shrikhandregular";
  src: url("../polices/shrikhand-regular-webfont.eot");
  src: url("../polices/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/shrikhand-regular-webfont.woff2") format("woff2"), url("../polices/shrikhand-regular-webfont.woff") format("woff"), url("../polices/shrikhand-regular-webfont.ttf") format("truetype"), url("../polices/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*---------------------------*\
    #POLICE ROBOTO
\*---------------------------*/
@font-face {
  font-family: "robotobold";
  src: url("../polices/roboto-bold-webfont.eot");
  src: url("../polices/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto-bold-webfont.woff2") format("woff2"), url("../polices/roboto-bold-webfont.woff") format("woff"), url("../polices/roboto-bold-webfont.ttf") format("truetype"), url("../polices/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("../polices/roboto-light-webfont.eot");
  src: url("../polices/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto-light-webfont.woff2") format("woff2"), url("../polices/roboto-light-webfont.woff") format("woff"), url("../polices/roboto-light-webfont.ttf") format("truetype"), url("../polices/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("../polices/roboto-medium-webfont.eot");
  src: url("../polices/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto-medium-webfont.woff2") format("woff2"), url("../polices/roboto-medium-webfont.woff") format("woff"), url("../polices/roboto-medium-webfont.ttf") format("truetype"), url("../polices/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../polices/roboto-regular-webfont.eot");
  src: url("../polices/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto-regular-webfont.woff2") format("woff2"), url("../polices/roboto-regular-webfont.woff") format("woff"), url("../polices/roboto-regular-webfont.ttf") format("truetype"), url("../polices/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("../polices/roboto-thin-webfont.eot");
  src: url("../polices/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto-thin-webfont.woff2") format("woff2"), url("../polices/roboto-thin-webfont.woff") format("woff"), url("../polices/roboto-thin-webfont.ttf") format("truetype"), url("../polices/roboto-thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*----------------*\
      #ICONES
\*----------------*/
@font-face {
  font-family: "icones";
  src: url("../icones/icones.eot?7ck4i7");
  src: url("../icones/icones.eot?7ck4i7#iefix") format("embedded-opentype"), url("../icones/icones.ttf?7ck4i7") format("truetype"), url("../icones/icones.woff?7ck4i7") format("woff"), url("../icones/icones.svg?7ck4i7#icones") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon-clicker:before,
.icon-heart-empty:before,
.icon-heart-full:before,
.icon-spinner:before,
.icon-arrow-left:before,
.icon-check-circle:before,
.icon-hands-helping:before,
.icon-list-ul:before,
.icon-mobile-alt:before,
.icon-store:before,
.icon-utensils:before,
.icon-search:before,
.icon-map-marker-alt:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icones" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin: 15px;
}

.icon-clicker:before {
  content: "";
}

.icon-heart-empty:before {
  content: "";
  margin: 0px;
}

.icon-heart-full:before {
  content: "";
  margin: 0px;
}

.icon-spinner:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
  font-size: 1.2rem;
  margin-left: 20px;
}

.icon-check-circle:before {
  content: "";
}

.icon-hands-helping:before {
  margin-left: 0px;
  margin-right: 8px;
  content: "";
  font-size: 0.8rem;
}

.icon-list-ul:before {
  content: "";
  margin-left: 25px;
  margin-right: 25px;
  font-size: 1.2rem;
}

.icon-mobile-alt:before {
  content: "";
  font-size: 1.3rem;
  margin-left: 25px;
  margin-right: 25px;
}

.icon-store:before {
  content: "";
  font-size: 1rem;
  margin-left: 25px;
  margin-right: 25px;
}

.icon-utensils:before {
  content: "";
  margin-left: 0px;
  margin-right: 13px;
  font-size: small;
}

.icon-search:before {
  content: "r";
}

.icon-map-marker-alt:before {
  content: "m";
}

/*---------------------------*\
    #VARIABLES COULEURS
    IDENTITE GRAPHIQUE
\*---------------------------*/
/*---------------------------*\
    #VARIABLES COULEURS
        BACKGROUNDS
\*---------------------------*/
/*---------------------------*\
    #VARIABLES COULEURS
           TEXTES
\*---------------------------*/
/*---------------------------*\
    #VARIABLES COULEURS
    Bouton "Nouveau"
\*---------------------------*/
/*---------------------------*\
    #VARIABLES COULEURS
          OMBRES
\*---------------------------*/
/*---------------------------*\
    #VARIABLES COULEURS
    UNDERLINE H2 RESTOS
\*---------------------------*/
/*-------------------*\
    #MIXINS FLEX
\*-------------------*/
/*-------------------*\
    #MIXIN BACKGROUND
        DEGRADE
\*-------------------*/
/*-------------------*\
    #MIXIN BOUTON
    (avec dégradé)
\*-------------------*/
/*-------------------*\
    #MIXIN
    BOX-SHADOW
\*-------------------*/
/*--------------------------*\
      #MIXIN BACKGROUND
  (btn fonctionnement, index)
\*---------------------------*/
/*-------------------*\
    #MIXIN BOUTON
        LIKE
\*-------------------*/
/*---------------------*\
    #MIXIN TRANSITION 
       BOUTON LIKE
\*---------------------*/
/*------------------*\
    STYLE GENERAL
\*------------------*/
body {
  font-family: "roboto";
  background-color: #f6f6f6;
  margin: 0rem;
}

h1 {
  font-family: "robotomedium";
  font-size: x-large;
  margin: 0px;
}

h1::first-letter,
h3::first-letter,
p::first-letter {
  text-transform: uppercase;
}

p {
  margin: 0rem;
}

a {
  color: black;
  text-decoration: none;
  margin: 0rem;
}

ul {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
}

/*------------------------*\
    ARTICLE RESTAURANT
    (Sélectionner un resto,
    PAGE D'ACCUEIL)
\*------------------------*/
.resto-prev {
  margin-bottom: 18px;
  width: 100%;
}
.resto-prev a {
  height: 250px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 5px 6px 10px #e5e5e5;
}
.resto-prev__illu {
  height: 70%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
}
.resto-prev__button-new {
  font-family: "robotomedium";
  font-size: 0.843rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  border-radius: 3px;
  background-color: #99e2d0;
  color: #008766;
  margin: 15px;
}
.resto-prev--palette {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-position: bottom;
}
.resto-prev--enchantee {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: 50% 60%;
}
.resto-prev--francaise {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-position: bottom;
}
.resto-prev--delice {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-position: bottom;
}
.resto-prev__description {
  padding: 15px 20px 15px 15px;
}
.resto-prev h3 {
  margin: 0px 0px 2px 0px;
  font-size: 1.1rem;
}
.resto-prev p {
  margin: 0px;
  font-family: "robotolight";
  font-size: 1.05rem;
}
@media screen and (min-width: 500px) {
  .resto-prev {
    max-width: 500px;
  }
}
@media screen and (min-width: 800px) {
  .resto-prev {
    min-width: 335px;
    width: 48%;
    max-width: none;
  }
}

/*----------------------*\
      DESCRIPTIONS 
    DES RESTAURANTS
       (ACCUEIL)
\*----------------------*/
.resto-description {
  display: flex;
  justify-content: space-between;
}
.resto-description__text {
  display: flex;
  flex-direction: column;
}
.resto-description__like {
  height: 21px;
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.resto-description__like--empty {
  height: 21px;
  color: white;
  font-size: 1.2rem;
  opacity: 1;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: all 200ms;
  position: absolute;
}
.resto-description__like--full {
  height: 23px;
  width: 23px;
  font-size: 1.35rem;
  opacity: 0;
  transition: all 400ms;
  position: relative;
}
.resto-description__like:hover .resto-description__like--empty {
  opacity: 0;
  text-shadow: none;
}
.resto-description__like:hover .resto-description__like--full {
  opacity: 1;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/*---------------------------*\
    #BOUTONS FONCTIONNEMENT
    (PAGE D'ACCUEIL-INDEX)
\*---------------------------*/
.f-btn {
  height: 75px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-bottom: 25px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  box-shadow: 5px 6px 10px #e5e5e5;
}
.f-btn__number {
  height: 25px;
  width: 25px;
  margin-left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 20px;
  color: white;
}
.f-btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}
.f-btn__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.f-btn:hover {
  background-color: #f2eafb;
}
.f-btn:hover .f-btn__icon {
  color: #9356dc;
}
@media screen and (min-width: 500px) {
  .f-btn {
    min-width: 350px;
  }
}
@media screen and (min-width: 800px) {
  .f-btn {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1050px) {
  .f-btn {
    min-width: 300px;
    margin-left: 30px;
  }
}

/*------------------------------*\
    #BOUTONS MENUS RESTAURANTS
       (PAGES RESTAURANTS)
\*------------------------------*/
.icon-check-circle:before {
  color: white;
  font-size: 1.3rem;
}

.r-btn {
  display: flex;
  border-radius: 15px;
  background-color: #fff;
  margin: 14px 4px 0px 4px;
  box-shadow: 5px 6px 10px #e9e9e9;
  max-width: 400px;
  overflow: hidden;
}
.r-btn--1 {
  animation: loading-btn 600ms backwards;
}
.r-btn--2 {
  animation: loading-btn 600ms backwards;
  animation-delay: 100ms;
}
.r-btn--3 {
  animation: loading-btn 600ms backwards;
  animation-delay: 250ms;
}
.r-btn--4 {
  animation: loading-btn 600ms backwards;
  animation-delay: 400ms;
}
.r-btn__description {
  overflow: hidden;
  width: 100%;
}
.r-btn__price {
  font-size: 0.9rem;
  padding: 15px 20px 12px 10px;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  transform: translateX(50px);
  transition: transform 400ms;
}
.r-btn__check {
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(55px);
  transition: all 500ms;
  width: 75px;
  overflow: hidden;
}
.r-btn:hover .r-btn__price, .r-btn:active .r-btn__price {
  transform: translateX(0);
}
.r-btn:hover .r-btn__check, .r-btn:active .r-btn__check {
  padding: 5px;
  transform: translateX(0px);
}
.r-btn:hover .icon-check-circle:before, .r-btn:active .icon-check-circle:before {
  animation: rotate-check 500ms backwards;
}
@media screen and (min-width: 500px) {
  .r-btn {
    width: 390px;
  }
}
@media screen and (min-width: 800px) {
  .r-btn {
    width: 48%;
  }
}
@media screen and (min-width: 1050px) {
  .r-btn {
    width: 100%;
  }
}

/*-----------------------------*\
      #BOUTON "COMMANDER"
      (PAGES RESTAURANTS)
\*-----------------------------*/
.btn-commander {
  width: 187px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: white;
  font-size: 1rem;
  box-shadow: 5px 6px 10px #c6c6c6;
}
.btn-commander:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 5px 6px 10px #b6b6b6;
}

/*---------------------------*\
      #ANIMATION DES BTN
      (PAGES RESTAURANTS)
        AU CHARGEMENT
\*---------------------------*/
@keyframes loading-btn {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/*---------------------------*\
      #ANIMATION DES BTN
      (PAGES RESTAURANTS)
          AU SURVOL
\*---------------------------*/
@keyframes rotate-check {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(2turn);
  }
}
/*---------------------*\
    CHARGEMENT INDEX
\*---------------------*/
.loading-accueil {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
}
.loading-accueil__spinner {
  margin: auto;
  margin-top: 200px;
  color: black;
  font-size: 1.5rem;
  animation: loading-accueil 1000ms;
  animation-fill-mode: forwards;
}

.page-accueil {
  animation: page-accueil 200ms 1000ms;
  animation-fill-mode: backwards;
}

@keyframes page-accueil {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading-accueil {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(0.5turn);
  }
}
/*----------------------*\
    HEADER DE L'INDEX
\*----------------------*/
.header-index {
  text-align: center;
}
.header-index__logo {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 3px 3px #cfcfcf;
}
.header-index__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 42px;
  height: 50px;
  background-color: #eaeaea;
  font-weight: bold;
}
.header-index__localisation p {
  padding-right: 42px;
}
.header-index__presentation {
  padding: 20px 19px 57px 19px;
}
.header-index__presentation h1 {
  font-family: "robotomedium";
  margin: 15px;
  line-height: 1.7rem;
  font-size: 1.45rem;
}
@media screen and (min-width: 800px) {
  .header-index__presentation h1 {
    font-size: xx-large;
  }
}
.header-index__presentation p {
  font-size: 1.1rem;
  line-height: 1.4rem;
  font-family: "robotolight";
}
.header-index__btn-explorer {
  width: 215px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: white;
  font-size: 1rem;
  box-shadow: 5px 6px 10px #c6c6c6;
  margin-top: 32px;
}
.header-index__btn-explorer:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 5px 6px 10px #b6b6b6;
}

/*--------------*\
    FORMULAIRE
   LOCALISATION
\*--------------*/
input {
  position: relative;
  border: none;
  background-color: #eaeaea;
  font-family: "roboto";
  font-size: 1rem;
  font-weight: bold;
  color: black;
  height: auto;
  max-width: 7rem;
}

/*---------------------------*\
    FONCTIONNEMENT 
    POUR UTILISATEUR
\*---------------------------*/
.fonctionnement {
  background-color: white;
}
.fonctionnement__title {
  font-family: "roboto";
  font-size: 1.5rem;
  max-width: 500px;
  margin: 25px auto;
}
@media screen and (min-width: 500px) {
  .fonctionnement__title {
    text-align: center;
  }
}
@media screen and (min-width: 800px) {
  .fonctionnement__title {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 500px) {
  .fonctionnement__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1050px) {
  .fonctionnement__buttons {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/*---------------------------*\
      ARTICLES RESTAURANTS
        (organisation)
  \*---------------------------*/
.restaurants h2 {
  margin-top: 35px;
  margin-bottom: 27px;
  line-height: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .restaurants h2 {
    font-size: 1.8rem;
    max-width: none;
  }
}
.restaurants__articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .restaurants__articles {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/*--------------*\
    CONTENEURS
\*--------------*/
.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.container-index {
  padding: 20px;
  padding-bottom: 47px;
}

.container-footer {
  padding: 25px;
}

.container-resto {
  position: relative;
  background-color: #f6f6f6;
  margin-top: -50px;
  padding: 40px 10px 60px 10px;
  border-radius: 40px 40px 0px 0px;
}
@media screen and (min-width: 500px) {
  .container-resto {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.container-plats {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1050px) {
  .container-plats {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 35px;
  }
}

/*------------*\
      LOGO
\*------------*/
.logo {
  height: 28px;
  margin-top: 9px;
}

/*-------------------------*\
    #HEADER (RESTAURANT)
\*-------------------------*/
.header-resto {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.header-resto__return-index {
  display: flex;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-resto__presentation {
  display: flex;
  align-items: flex-end;
}
.header-resto__photo {
  height: 270px;
  background-size: cover;
  background-position: center;
}
.header-resto__photo--palette {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.header-resto__photo--enchantee {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.header-resto__photo--francaise {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.header-resto__photo--delice {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.logo--resto {
  margin-right: auto;
  margin-left: auto;
  padding-right: 52px;
}

/*--------------*\
     TITRE H1
  (NOM DU RESTO)
\*--------------*/
.title-resto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  margin: 0px 30px 20px 10px;
}
.title-resto__title {
  font-family: "shrikhandregular";
  font-size: 1.7rem;
  font-weight: normal;
}
.title-resto__like {
  height: 21px;
  width: 23px;
  margin-bottom: auto;
  margin-top: auto;
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-resto__like--empty {
  height: 21px;
  color: white;
  font-size: 1.2rem;
  opacity: 1;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transition: all 200ms;
  position: absolute;
}
.title-resto__like--full {
  height: 23px;
  width: 23px;
  font-size: 1.35rem;
  opacity: 0;
  transition: all 400ms;
  position: relative;
}
.title-resto__like:hover .title-resto__like--empty {
  opacity: 0;
  text-shadow: none;
}
.title-resto__like:hover .title-resto__like--full {
  opacity: 1;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
@media screen and (min-width: 500px) {
  .title-resto {
    justify-content: center;
  }
  .title-resto .title-resto__title {
    margin-right: 65px;
    margin-left: auto;
    padding-left: 30px;
    font-size: xx-large;
  }
  .title-resto .title-resto__like {
    margin-right: auto;
  }
}

/*-----------------*\
      TITRE H2
  (ETAPES DU REPAS)
\*-----------------*/
.title-plats h2 {
  margin: 14px 0px 5px 10px;
  font-family: "robotothin";
  font-size: 0.97rem;
  text-transform: uppercase;
}
.title-plats__underline {
  margin-left: 11px;
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
}

@media screen and (min-width: 500px) {
  .title-plats--entree {
    margin-right: auto;
  }
  .title-plats--plats {
    margin-right: auto;
  }
  .title-plats--desserts {
    margin-right: auto;
  }
}
@media screen and (min-width: 800px) {
  .title-plats--entree {
    margin-right: auto;
  }
  .title-plats--plats {
    margin-right: auto;
  }
  .title-plats--desserts {
    margin-right: auto;
  }
}
/*------------------*\
      SECTIONS 
   (ETAPES DU REPAS)
\*------------------*/
.carte-resto {
  margin-bottom: 18px;
  width: 100%;
  max-width: 398px;
}
@media screen and (min-width: 500px) {
  .carte-resto {
    display: flex;
    flex-direction: column;
    max-width: 398px;
  }
}
@media screen and (min-width: 800px) {
  .carte-resto {
    max-width: 742px;
  }
}
@media screen and (min-width: 1050px) {
  .carte-resto {
    width: 32%;
    margin-bottom: 0px;
  }
}

/*------------------*\
      CONTENEUR 
   PLATS DES RESTOS
\*------------------*/
.btn-plats {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .btn-plats {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
  }
}
@media screen and (min-width: 1050px) {
  .btn-plats {
    justify-content: center;
    width: 100%;
  }
}

/*---------------*\
  LES DIFFERENTS 
   PLATS DU MENU
\*---------------*/
.plat-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0px 12px 10px;
  overflow: hidden;
}
.plat-description h3 {
  margin: 0px;
  margin-bottom: 3px;
  font-size: 1.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plat-description--title-first-line {
  margin-bottom: 0px;
}
.plat-description p {
  font-family: "robotolight";
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*-------------*\
    #FOOTER
\*-------------*/
.footer {
  background-color: #2e2d2d;
}

.nav-footer {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .nav-footer {
    flex-direction: row;
  }
}
@media screen and (min-width: 500px) {
  .nav-footer {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 800px) {
  .nav-footer {
    max-width: 1200px;
  }
}
.nav-footer__title {
  font-family: "shrikhandregular";
  font-size: 1.05rem;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 20px;
}
@media screen and (min-width: 800px) {
  .nav-footer__title {
    margin-top: auto;
    margin-bottom: auto;
  }
}
.nav-footer__title, .nav-footer__link {
  color: white;
}
.nav-footer li {
  font-family: "roboto";
  font-size: 0.97rem;
  margin-bottom: 0.3rem;
}
@media screen and (min-width: 500px) {
  .nav-footer li {
    width: 50%;
  }
}
@media screen and (min-width: 800px) {
  .nav-footer li {
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.nav-footer ul {
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 500px) {
  .nav-footer ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 800px) {
  .nav-footer ul {
    margin-left: 1.3rem;
    flex-direction: row;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
