@charset "UTF-8";
/*SHRIKHANDRE*/
@font-face {
  font-family: "shrikhandregular";
  src: url("/public/polices/shrikhand-regular-webfont.eot");
  src: url("/public/polices/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/public/polices/shrikhand-regular-webfont.woff2") format("woff2"), url("/public/polices/shrikhand-regular-webfont.woff") format("woff"), url("/public/polices/shrikhand-regular-webfont.ttf") format("truetype"), url("/public/polices/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*ROBOTO*/
@font-face {
  font-family: "robotoblack";
  src: url("/public/polices/roboto-black-webfont.eot");
  src: url("/public/polices/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("/public/polices/roboto-black-webfont.woff2") format("woff2"), url("/public/polices/roboto-black-webfont.woff") format("woff"), url("/public/polices/roboto-black-webfont.ttf") format("truetype"), url("/public/polices/roboto-black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("/public/polices/roboto-bold-webfont.eot");
  src: url("/public/polices/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/public/polices/roboto-bold-webfont.woff2") format("woff2"), url("/public/polices/roboto-bold-webfont.woff") format("woff"), url("/public/polices/roboto-bold-webfont.ttf") format("truetype"), url("/public/polices/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold_condensed";
  src: url("/public/polices/roboto-boldcondensed-webfont.eot");
  src: url("/public/polices/roboto-boldcondensed-webfont.eot?#iefix") format("embedded-opentype"), url("/public/polices/roboto-boldcondensed-webfont.woff2") format("woff2"), url("/public/polices/roboto-boldcondensed-webfont.woff") format("woff"), url("/public/polices/roboto-boldcondensed-webfont.ttf") format("truetype"), url("/public/polices/roboto-boldcondensed-webfont.svg#robotobold_condensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotocondensed";
  src: url("/public/polices/roboto-condensed-webfont.eot");
  src: url("/public/polices/roboto-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("/public/polices/roboto-condensed-webfont.woff2") format("woff2"), url("/public/polices/roboto-condensed-webfont.woff") format("woff"), url("/public/polices/roboto-condensed-webfont.ttf") format("truetype"), url("/public/polices/roboto-condensed-webfont.svg#robotocondensed") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("/public/polices/roboto-light-webfont.eot");
  src: url("/public/polices/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("/public/polices/roboto-light-webfont.woff2") format("woff2"), url("/public/polices/roboto-light-webfont.woff") format("woff"), url("/public/polices/roboto-light-webfont.ttf") format("truetype"), url("/public/polices/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("/public/polices/roboto-medium-webfont.eot");
  src: url("/public/polices/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/public/polices/roboto-medium-webfont.woff2") format("woff2"), url("/public/polices/roboto-medium-webfont.woff") format("woff"), url("/public/polices/roboto-medium-webfont.ttf") format("truetype"), url("/public/polices/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("/public/polices/roboto-regular-webfont.eot");
  src: url("/public/polices/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/public/polices/roboto-regular-webfont.woff2") format("woff2"), url("/public/polices/roboto-regular-webfont.woff") format("woff"), url("/public/polices/roboto-regular-webfont.ttf") format("truetype"), url("/public/polices/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("/public/polices/roboto-thin-webfont.eot");
  src: url("/public/polices/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("/public/polices/roboto-thin-webfont.woff2") format("woff2"), url("/public/polices/roboto-thin-webfont.woff") format("woff"), url("/public/polices/roboto-thin-webfont.ttf") format("truetype"), url("/public/polices/roboto-thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("/public/icones/icomoon.eot?4fdal5");
  src: url("/public/icones/icomoon.eot?4fdal5#iefix") format("embedded-opentype"), url("/public/icones/icomoon.ttf?4fdal5") format("truetype"), url("/public/icones/icomoon.woff?4fdal5") format("woff"), url("/public/icones/icomoon.svg?4fdal5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*[class^="icon-"], [class*=" icon-"]*/
.icon-arrow-left:before,
.icon-check-circle:before,
.icon-hands-helping:before,
.icon-list-ul:before,
.icon-mobile-alt:before,
.icon-store:before,
.icon-utensils:before,
.icon-search:before,
.icon-map-marker-alt:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-arrow-left:before {
  content: "";
}

.icon-check-circle:before {
  content: "";
}

.icon-hands-helping:before {
  content: "";
}

.icon-list-ul:before {
  content: "";
}

.icon-mobile-alt:before {
  content: "";
}

.icon-store:before {
  content: "";
}

.icon-utensils:before {
  content: "";
}

.icon-search:before {
  content: "r";
}

.icon-map-marker-alt:before {
  content: "m";
}

body {
  font-family: "roboto";
}

/*# sourceMappingURL=style.css.map */
