@charset "UTF-8";
/**
 * TABLE DES MATIERES
 *
 * BASE
 * General................Styles du body, H1, a, ul.
 *
 * UNTILS
 * Variables..............Variables des couleurs.
 * Mixins.................Mixins utiles.
 * Mixins-media-queries...Mixins pour les media queries.
 * Fontions
 *
 * LAYOUTS
 * Containers.............Différents conteneurs (marges réutilisées).
 * Logo...................Caractéristiques du logo.
 * Footer.................Footer commun à toues les pages.
 * Header-restos..........Header des pages des restaurants.
 * Title-resto............Titres des pages restaurants.
 * Main-restos............Main des pages restaurants.
 *
 * COMPONENTS
 * Articles...............Liens vers les restaurants.
 * Buttons-index..........Boutons de la page d'accueil.
 * Buttons-restos.........Boutons des pages des restaurants.
 *
 * PAGES
 * Index..................Styles spécifiques à la page d'accueil.
 */
/*---------------------------*\
    #POLICE SHRIKHANDRE
\*---------------------------*/
@font-face {
  font-family: "shrikhandregular";
  src: url("../polices/shrikhand-regular-webfont.eot");
  src: url("../polices/shrikhand-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/shrikhand-regular-webfont.woff2") format("woff2"), url("../polices/shrikhand-regular-webfont.woff") format("woff"), url("../polices/shrikhand-regular-webfont.ttf") format("truetype"), url("../polices/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*---------------------------*\
    #POLICE ROBOTO
\*---------------------------*/
/*@font-face {
    font-family: 'robotoblack';
    src: url('../polices/roboto-black-webfont.eot');
    src: url('../polices/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/roboto-black-webfont.woff2') format('woff2'),
         url('../polices/roboto-black-webfont.woff') format('woff'),
         url('../polices/roboto-black-webfont.ttf') format('truetype'),
         url('../polices/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/*@font-face {
    font-family: 'robotobold';
    src: url('../polices/roboto-bold-webfont.eot');
    src: url('../polices/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/roboto-bold-webfont.woff2') format('woff2'),
         url('../polices/roboto-bold-webfont.woff') format('woff'),
         url('../polices/roboto-bold-webfont.ttf') format('truetype'),
         url('../polices/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/*@font-face {
    font-family: 'robotobold_condensed';
    src: url('../polices/roboto-boldcondensed-webfont.eot');
    src: url('../polices/roboto-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/roboto-boldcondensed-webfont.woff2') format('woff2'),
         url('../polices/roboto-boldcondensed-webfont.woff') format('woff'),
         url('../polices/roboto-boldcondensed-webfont.ttf') format('truetype'),
         url('../polices/roboto-boldcondensed-webfont.svg#robotobold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
/*@font-face {
    font-family: 'robotocondensed';
    src: url('../polices/roboto-condensed-webfont.eot');
    src: url('../polices/roboto-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/roboto-condensed-webfont.woff2') format('woff2'),
         url('../polices/roboto-condensed-webfont.woff') format('woff'),
         url('../polices/roboto-condensed-webfont.ttf') format('truetype'),
         url('../polices/roboto-condensed-webfont.svg#robotocondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/
/*@font-face {
    font-family: 'robotolight';
    src: url('../polices/roboto-light-webfont.eot');
    src: url('../polices/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/roboto-light-webfont.woff2') format('woff2'),
         url('../polices/roboto-light-webfont.woff') format('woff'),
         url('../polices/roboto-light-webfont.ttf') format('truetype'),
         url('../polices/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
@font-face {
  font-family: "robotomedium";
  src: url("../polices/roboto-medium-webfont.eot");
  src: url("../polices/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto-medium-webfont.woff2") format("woff2"), url("../polices/roboto-medium-webfont.woff") format("woff"), url("../polices/roboto-medium-webfont.ttf") format("truetype"), url("../polices/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../polices/roboto-regular-webfont.eot");
  src: url("../polices/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto-regular-webfont.woff2") format("woff2"), url("../polices/roboto-regular-webfont.woff") format("woff"), url("../polices/roboto-regular-webfont.ttf") format("truetype"), url("../polices/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotothin";
  src: url("../polices/roboto-thin-webfont.eot");
  src: url("../polices/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../polices/roboto-thin-webfont.woff2") format("woff2"), url("../polices/roboto-thin-webfont.woff") format("woff"), url("../polices/roboto-thin-webfont.ttf") format("truetype"), url("../polices/roboto-thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*----------------*\
      #ICONES
\*----------------*/
@font-face {
  font-family: "icones";
  src: url("../icones/icones.eot?7ck4i7");
  src: url("../icones/icones.eot?7ck4i7#iefix") format("embedded-opentype"), url("../icones/icones.ttf?7ck4i7") format("truetype"), url("../icones/icones.woff?7ck4i7") format("woff"), url("../icones/icones.svg?7ck4i7#icones") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*[class^="icon-"], [class*=" icon-"]*/
.icon-clicker:before,
.icon-heart-empty:before,
.icon-heart-full:before,
.icon-spinner:before,
.icon-arrow-left:before,
.icon-check-circle:before,
.icon-hands-helping:before,
.icon-list-ul:before,
.icon-mobile-alt:before,
.icon-store:before,
.icon-utensils:before,
.icon-search:before,
.icon-map-marker-alt:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icones" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin: 15px;
}

.icon-clicker:before {
  content: "";
}

.icon-heart-empty:before {
  content: "";
}

.icon-heart-full:before {
  content: "";
}

.icon-spinner:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-check-circle:before {
  content: "";
}

.icon-hands-helping:before {
  margin-left: 0px;
  content: "";
}

.icon-list-ul:before {
  content: "";
}

.icon-mobile-alt:before {
  content: "";
}

.icon-store:before {
  content: "";
}

.icon-utensils:before {
  content: "";
  margin-left: 0px;
}

.icon-search:before {
  content: "r";
}

.icon-map-marker-alt:before {
  content: "m";
}

@font-face {
  font-family: "icomoon";
  src: url("../icones/icomoon.eot?4fdal5");
  src: url("../icones/icomoon.eot?4fdal5#iefix") format("embedded-opentype"), url("../icones/icomoon.ttf?4fdal5") format("truetype"), url("../icones/icomoon.woff?4fdal5") format("woff"), url("../icones/icomoon.svg?4fdal5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*[class^="icon-"], [class*=" icon-"]*/
/*
.icon-arrow-left:before,
.icon-check-circle:before,
.icon-hands-helping:before,
.icon-list-ul:before,
.icon-mobile-alt:before,
.icon-store:before,
.icon-utensils:before,
.icon-search:before,
.icon-map-marker-alt:before {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin: 15px;
}
/*
.icon-arrow-left:before {
  content: "\e900";
}
.icon-check-circle:before {
  content: "\e901";
}
.icon-hands-helping:before {
  content: "\e902";
  margin-left: 0px;
}
.icon-list-ul:before {
  content: "\e903";
}
.icon-mobile-alt:before {
  content: "\e904";
}
.icon-store:before {
  content: "\e905";
}
.icon-utensils:before {
  content: "\e906";
  margin-left: 0px;
}
.icon-search:before {
  content: "\72";
}
.icon-map-marker-alt:before {
  content: "\6d";
}
*/
/*---------------------------*\
    #VARIABLES COULEURS
    IDENTITE GRAPHIQUE
\*---------------------------*/
/*---------------------------*\
    #VARIABLES COULEURS
        BACKGROUNDS
\*---------------------------*/
/*---------------------------*\
    #VARIABLES COULEURS
           TEXTES
\*---------------------------*/
/*---------------------------*\
    #VARIABLES COULEURS
    Bouton "Nouveau"
\*---------------------------*/
/*---------------------------*\
    #VARIABLES COULEURS
          OMBRES
\*---------------------------*/
/*---------------------------*\
    #VARIABLES COULEURS
    UNDERLINE H2 RESTOS
\*---------------------------*/
/*-------------------*\
    #MIXINS FLEX
\*-------------------*/
/*-------------------*\
    #MIXIN DEGRADE
    POUR BOUTON
\*-------------------*/
/*-------------------*\
    #MIXIN
    BOX-SHADOW
\*-------------------*/
/*--------------------------*\
      #MIXIN BACKGROUND
  (btn fonctionnement, index)
\*---------------------------*/
/*------------------*\
    STYLE GENERAL
\*------------------*/
body {
  font-family: "roboto";
  background-color: #f6f6f6;
  margin: 0rem;
}

h1 {
  font-family: "robotomedium";
  font-size: x-large;
  margin: 0px;
}

h1::first-letter, h3::first-letter, p::first-letter {
  text-transform: uppercase;
}

p {
  margin: 0rem;
}

a {
  color: black;
  text-decoration: none;
  margin: 0rem;
}

ul {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
}

/*------------------------*\
    ARTICLE RESTAURANT
    (Sélectionner un resto,
    PAGE D'ACCUEIL)
\*------------------------*/
.resto-prev {
  margin-bottom: 18px;
  width: 100%;
}
.resto-prev a {
  height: 250px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 5px 6px 10px #e5e5e5;
}
.resto-prev__illu {
  height: 70%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
}
.resto-prev__button-new {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 80px;
  border-radius: 3px;
  background-color: #99e2d0;
  color: #008766;
  margin: 15px;
}
.resto-prev--palette {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-position: bottom;
}
.resto-prev--enchantee {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: 50% 60%;
}
.resto-prev--francaise {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-position: bottom;
}
.resto-prev--delice {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-position: bottom;
}
.resto-prev__description {
  padding: 15px;
}
.resto-prev h3 {
  margin: 0px 0px 5px 0px;
}
.resto-prev p {
  margin: 0px;
}
@media screen and (min-width: 500px) {
  .resto-prev {
    /*min-width: 335px;*/
    max-width: 500px;
  }
}
@media screen and (min-width: 800px) {
  .resto-prev {
    min-width: 335px;
    width: 48%;
  }
}
@media screen and (min-width: 1100px) {
  .resto-prev {
    width: 30%;
  }
}

/*----------------------*\
      DESCRIPTIONS 
    DES RESTAURANTS
       (ACCUEIL)
\*----------------------*/
.resto-description {
  display: flex;
  justify-content: space-between;
}
.resto-description__text {
  display: flex;
  flex-direction: column;
}
.resto-description__like {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------------------*\
    #BOUTONS FONCTIONNEMENT
    (PAGE D'ACCUEIL-INDEX)
\*---------------------------*/
.f-btn {
  height: 75px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin-bottom: 25px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  box-shadow: 5px 6px 10px #e5e5e5;
}
.f-btn__number {
  height: 25px;
  width: 25px;
  margin-left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border-radius: 20px;
  color: white;
}
.f-btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-size: large;
}
.f-btn__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-btn:hover {
  background-color: #f2eafb;
}
.f-btn:hover .f-btn__icon {
  color: #9356DC;
}
@media screen and (min-width: 500px) {
  .f-btn {
    min-width: 350px;
  }
}
@media screen and (min-width: 800px) {
  .f-btn {
    margin-left: 20px;
  }
}

/*------------------------------*\
    #BOUTONS MENUS RESTAURANTS
       (PAGES RESTAURANTS)
\*------------------------------*/
.icon-check-circle:before {
  color: white;
  font-size: large;
}

.r-btn {
  display: flex;
  border-radius: 15px;
  background-color: #fff;
  /*height: 68px;*/
  margin: 15px 4px;
  box-shadow: 5px 6px 10px #e5e5e5;
  overflow: hidden;
}
.r-btn__description {
  overflow: hidden;
  width: 100%;
  /*background-color: yellow;*/
}
.r-btn__price {
  font-size: small;
  padding: 15px 10px 15px 10px;
  display: flex;
  align-items: flex-end;
  /*position: relative;*/
  font-weight: bold;
  transform: translateX(30px);
  transition: transform 400ms;
}
.r-btn__check {
  /*position: relative;*/
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right;
  transform: scale(0, 1);
  transition: all 400ms;
}
.r-btn:hover {
  /*.r-btn__description {
  }*/
  /*.icon-check-circle:before {
      Faire tourner
    }*/
}
.r-btn:hover .r-btn__price {
  transform: translateX(0);
}
.r-btn:hover .r-btn__check {
  padding: 5px;
  transform-origin: right;
  transform: scale(1, 1);
}

/*--------------------------------*\
          #BOUTON "COMMANDER"
          (PAGES RESTAURANTS)
  \*--------------------------------*/
.btn-commander {
  width: 187px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  box-shadow: 5px 6px 10px #e5e5e5;
}

/*----------------------*\
    HEADER DE L'INDEX
\*----------------------*/
.header-index {
  text-align: center;
}
.header-index__logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 3px 3px grey;
}
.header-index__localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
  font-weight: bold;
}
.header-index__localisation p {
  padding-right: 42px;
}
.header-index__presentation {
  padding: 20px 19px 57px 19px;
}
.header-index__presentation h1 {
  margin: 15px;
}
.header-index__btn-explorer {
  width: 215px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  margin-top: 32px;
  box-shadow: 5px 6px 10px #e5e5e5;
}

/*---------------------------*\
    FONCTIONNEMENT 
    POUR UTILISATEUR
\*---------------------------*/
.fonctionnement {
  background-color: white;
}
.fonctionnement__title {
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 500px) {
  .fonctionnement__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 800px) {
  .fonctionnement__buttons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

/*---------------------------*\
    ARTICLES RESTAURANTS
      (organisation)
\*---------------------------*/
.restaurants h2 {
  margin-top: 35px;
  margin-bottom: 27px;
  line-height: 100%;
}
.restaurants__articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .restaurants__articles {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

/*--------------*\
    CONTENEURS
\*--------------*/
.container-index {
  padding: 20px;
  padding-bottom: 46px;
}

.container-footer {
  padding: 25px;
}

.container-resto {
  position: relative;
  background-color: #f6f6f6;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 10px 65px 10px;
  border-radius: 40px 40px 0px 0px;
}
@media screen and (min-width: 500px) {
  .container-resto {
    max-width: 1000px;
  }
}

/*------------*\
      LOGO
\*------------*/
.logo {
  height: 30px;
}

/*-------------------------*\
    #HEADER (RESTAURANT)
\*-------------------------*/
.header-resto {
  display: flex;
  flex-direction: column;
}
.header-resto__return-index {
  display: flex;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-resto__presentation {
  display: flex;
  align-items: flex-end;
}
.header-resto__photo {
  height: 270px;
  background-size: cover;
  background-position: center;
}
.header-resto__photo--palette {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.header-resto__photo--enchantee {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.header-resto__photo--francaise {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
.header-resto__photo--delice {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

/*
.icon-arrow-left {

}
*/
.logo--resto {
  margin-right: auto;
  margin-left: auto;
  padding-right: 44px;
}

/*--------------*\
     TITRE H1
  (NOM DU RESTO)
\*--------------*/
.title-resto {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  margin: 0px 0px 45px 10px;
}
.title-resto__title {
  font-family: "shrikhandregular";
  font-size: x-large;
  font-weight: normal;
}

/*-----------------*\
      TITRE H2
  (ETAPES DU REPAS)
\*-----------------*/
.title-plats {
  margin-left: 10px;
}
.title-plats h2 {
  font-family: "robotothin";
  font-size: medium;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.title-plats__underline {
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
}

/*------------------*\
      SECTIONS 
   (ETAPES DU REPAS)
\*------------------*/
.carte-resto {
  margin-bottom: 35px;
}

/*---------------*\
  LES DIFFERENTS 
   PLATS DU MENU
\*---------------*/
.plat-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0px 13px 10px;
  overflow: hidden;
}
.plat-description h3 {
  margin: 0px;
  margin-bottom: 3px;
  font-size: medium;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plat-description p {
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*-------------*\
    #FOOTER
\*-------------*/
.footer {
  background-color: #2e2d2d;
}

.nav-footer__title {
  font-family: "shrikhandregular";
  font-weight: normal;
}
.nav-footer__title, .nav-footer__link {
  color: white;
}
.nav-footer li {
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
