/*------------------------*\
    ARTICLE RESTAURANT
    (Sélectionner un resto,
    PAGE D'ACCUEIL)
\*------------------------*/
.resto-prev {
  margin-bottom: 18px;
  width: 100%;
  a {
    height: 250px;
    background: $color-txt-secondary;
    border-radius: 15px;
    overflow: hidden;
    @include flex-column;
    box-sizing: border-box;
    @include box-shadow;
  }
  &__illu {
    height: 70%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
  }
  &__button-new {
    @include flex-center;
    height: 30px;
    width: 80px;
    border-radius: 3px;
    background-color: $color-btn-new;
    color: $color-btn-new-txt;
    margin: 15px;
  }
  &--palette {
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-position: bottom;
  }
  &--enchantee {
    background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-position: 50% 60%;
  }
  &--francaise {
    background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-position: bottom;
  }
  &--delice {
    background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-position: bottom;
  }
  &__description {
    padding: 15px 20px 15px 15px;
  }
  h3 {
    margin: 0px 0px 5px 0px;
  }
  p {
    margin: 0px;
  }

  @include first-breakpoint {
    /*min-width: 335px;*/
    max-width: 500px;
  }

  @include second-breakpoint {
    min-width: 335px;
    width: 48%;
  }

  @include third-breakpoint {
    width: 30%;
  }
}


/*----------------------*\
      DESCRIPTIONS 
    DES RESTAURANTS
       (ACCUEIL)
\*----------------------*/

.resto-description {
  display: flex;
  justify-content: space-between;

  &__text {
    @include flex-column;
  }
  &__like {
    @include flex-center;
    font-size: large;
    color: $color-txt-secondary;
  }
}


/*----------------*\
     ANIMATION 
    BOUTON LIKE
\*----------------*/

.icon-heart-full {
  font-size: 1.2rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transform: scale(1);
  transition: all 400ms;

  &:hover {
    transform: scale(1.02);
    /*font-size: 1.3rem;*/
    text-shadow: none;
    @include background-gradient;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
}