/*------------------------*\
    ARTICLE RESTAURANT
    (Sélectionner un resto,
    PAGE D'ACCUEIL)
\*------------------------*/
.resto-prev {
  margin-bottom: 18px;
  width: 100%;
  a {
    height: 250px;
    background: $color-txt-secondary;
    border-radius: 15px;
    overflow: hidden;
    @include flex-column;
    box-sizing: border-box;
    @include box-shadow($color-shadow-primary);
  }
  &__illu {
    height: 70%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
  }
  &__button-new {
    font-family: "robotomedium";
    font-size: 0.843rem;
    @include flex-center;
    height: 30px;
    width: 80px;
    border-radius: 3px;
    background-color: $color-btn-new;
    color: $color-btn-new-txt;
    margin: 15px;
  }
  &--palette {
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-position: bottom;
  }
  &--enchantee {
    background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-position: 50% 60%;
  }
  &--francaise {
    background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-position: bottom;
  }
  &--delice {
    background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-position: bottom;
  }
  &__description {
    padding: 15px 20px 15px 15px;
  }
  h3 {
    margin: 0px 0px 2px 0px;
    font-size: 1.1rem;
  }
  p {
    margin: 0px;
    font-family: "robotolight";
    font-size: 1.05rem;
  }

  @include first-breakpoint {
    max-width: 500px;
  }

  @include second-breakpoint {
    min-width: 335px;
    width: 48%;
    max-width: none;
  }
}

/*----------------------*\
      DESCRIPTIONS 
    DES RESTAURANTS
       (ACCUEIL)
\*----------------------*/

.resto-description {
  display: flex;
  justify-content: space-between;

  &__text {
    @include flex-column;
  }
  &__like {
    height: 21px;
    margin-top: auto;
    margin-bottom: 20px;
    @include flex-center;
    color: $color-txt-secondary;

    &--empty {
      height: 21px;
      color: $color-txt-secondary;
      @include heart-empty;
    }

    &--full {
      height: 23px;
      width: 23px;
      @include heart-full;
    }

    &:hover {
      .resto-description__like--empty {
        @include transition-heart-empty;
      }
      .resto-description__like--full {
        @include transition-heart-full;
      }
    }
  }
}
