/*------------------------------*\
    #BOUTONS MENUS RESTAURANTS
       (PAGES RESTAURANTS)
\*------------------------------*/

.icon-check-circle:before {
  color: $color-txt-secondary;
  font-size: large;
}

.r-btn {
  display: flex;
  border-radius: 15px;
  background-color: $color-background-primary;
  margin: 15px 4px;
  @include box-shadow($color-shadow-quaternary);
  overflow: hidden;

  &--1 {
    animation: loading-btn 400ms backwards;
  }
  &--2 {
    animation: loading-btn 400ms backwards;
    animation-delay: 100ms;
  }
  &--3 {
    animation: loading-btn 400ms backwards;
    animation-delay: 200ms;
  }
  &--4 {
    animation: loading-btn 400ms backwards;
    animation-delay: 300ms;
  }

  &__description {
    overflow: hidden;
    width: 100%;
    /*background-color: yellow;*/
  }

  &__price {
    font-size: small;
    padding: 15px 10px 15px 10px;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    transform: translateX(30px);
    transition: transform 400ms;
  }

  &__check {
    background-color: $color-tertiary;
    @include flex-center;
    transform-origin: right;
    transform: scale(0, 1);
    transition: all 400ms;
  }

  .icon-check-circle:before {
    transform: rotate(0deg);
    transition: all 400ms;
  }

  &:hover,
  &:active {
    .r-btn__price {
      transform: translateX(0);
    }
    .r-btn__check {
      padding: 5px;
      transform-origin: right;
      transform: scale(1, 1);
    }
    .icon-check-circle:before {
      transform: rotate(2turn);
    }
  }
}

/*-----------------------------*\
      #BOUTON "COMMANDER"
      (PAGES RESTAURANTS)
\*-----------------------------*/

.btn-commander {
  width: 187px;
  @include btn-linear-gradient;
  @include box-shadow($color-shadow-secondary);
}

/*---------------------------*\
      #ANIMATION DES BTN
      (PAGES RESTAURANTS)
\*---------------------------*/

@keyframes loading-btn {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
