/*---------------------------*\
    #BOUTONS FONCTIONNEMENT
    (PAGE D'ACCUEIL-INDEX)
\*---------------------------*/

.f-btn {
  height: 75px;
  background-color: $color-background-secondary;
  border-radius: 20px;
  margin-bottom: 25px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  @include box-shadow;
  &__number {
    height: 25px;
    width: 25px;
    margin-left: -10px;
    @include flex-center;
    background-color: $color-primary;
    border-radius: 20px;
    color: $color-txt-secondary;
  }
  &__icon {
    @include flex-center;
    color: grey;
    font-size: large;
  }
  &__title {
    @include flex-center;
  }
  &:hover {
    @include background-fonctionnement;
    .f-btn__icon {
      color: $color-primary;
    }
  }
@include first-breakpoint {
  min-width: 350px;
}

  @include second-breakpoint {
    margin-left: 20px;
  }
}