/*------------------*\
    STYLE GENERAL
\*------------------*/

body {
  font-family: "roboto";
  background-color: $color-background-secondary;
  margin: 0rem;
}

h1 {
  font-family: "robotomedium";
  font-size: x-large;
  margin: 0px;
}


h1::first-letter, h3::first-letter, p::first-letter {
  text-transform: uppercase;
}


p {
  margin: 0rem;
}

a {
  color: $color-txt-primary;
  text-decoration: none;
  margin: 0rem;
}

ul {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
}
