/*----------------------*\
    HEADER DE L'INDEX
\*----------------------*/

.header-index {
    text-align: center;
    &__logo {
        @include flex-center;
        height: 63px;
        box-shadow: 0px 10px 10px black;
    }
    &__localisation {
        @include flex-center;
        height: 50px;
        background-color: $color-background-tertiary;
        font-weight: bold;
    }
    &__presentation {
        height: 237px;
        padding-top: 25px;
        padding-bottom: 25px;
    }   
    &__btn-explorer {
        width: 215px;
        @include btn-linear-gradient;
        margin-top: 32px;
        margin-bottom: 32px;
    } 
}

/*---------------------------*\
    FONCTIONNEMENT 
    POUR UTILISATEUR
\*---------------------------*/
.fonctionnement {
    background-color: $color-txt-secondary;
    height: 400px;
}
