/*---------------------*\
    CHARGEMENT INDEX
\*---------------------*/

.loading-accueil {
  width: 100%;
  @include flex-center;
  position: absolute;
  top: 0px;
  &__spinner {
    margin: auto;
    margin-top: 200px;
    color: black;
    font-size: 1.5rem;
    animation: loading-accueil 1000ms;
    animation-fill-mode: forwards;
  }
}

.page-accueil {
  animation: page-accueil 200ms 1000ms;
  animation-fill-mode: backwards;
}

@keyframes page-accueil {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading-accueil {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(0.5turn);
  }
}

/*----------------------*\
    HEADER DE L'INDEX
\*----------------------*/

.header-index {
  text-align: center;
  &__logo {
    background-color: white;
    position: relative;
    @include flex-center;
    height: 63px;
    box-shadow: 0px 3px 3px $color-shadow-tertiary;
  }
  &__localisation {
    @include flex-center;
    padding-right: 42px;
    height: 50px;
    background-color: $color-background-tertiary;
    font-weight: bold;
    p {
      padding-right: 42px;
    }
  }
  &__presentation {
    padding: 20px 19px 57px 19px;
    h1 {
      font-family: 'robotomedium';
      margin: 15px;
      line-height: 1.7rem;
      font-size: 1.45rem;
      @include second-breakpoint {
        font-size: xx-large;
      }
    }
    p {
      font-size: 1.1rem;
      line-height: 1.4rem;
      font-family: 'robotolight';
    }
  }
  &__btn-explorer {
    width: 215px;
    @include btn-linear-gradient;
    margin-top: 32px;
  }
}

/*--------------*\
    FORMULAIRE
   LOCALISATION
\*--------------*/

input {
  position: relative;
  border: none;
  background-color: $color-background-tertiary;
  font-family: 'roboto';
  font-size: 1rem;
  font-weight: bold;
  color: black;
  height: auto;
  max-width: 7rem;
}

/*---------------------------*\
    FONCTIONNEMENT 
    POUR UTILISATEUR
\*---------------------------*/
.fonctionnement {
  background-color: $color-txt-secondary;
  &__title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'roboto';
    font-size: 1.5rem;
    @include second-breakpoint {
      font-size: 1.8rem;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__buttons {
    @include second-breakpoint {
      @include flex-center;
      flex-direction: column;
    }
    @include second-breakpoint {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}


/*---------------------------*\
    ARTICLES RESTAURANTS
      (organisation)
\*---------------------------*/

.restaurants {
  h2 {
    margin-top: 35px;
    margin-bottom: 27px;
    line-height: 100%;

    @include second-breakpoint {
      font-size: 1.8rem;
    }
  }
  &__articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include second-breakpoint {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
