/*-------------*\
    #FOOTER
\*-------------*/

.footer {
  background-color: $color-background-footer;
  margin-top: auto;
  margin-bottom: 0px;
}

.nav-footer {
  @include flex-column;
  @include second-breakpoint {
    flex-direction: row;
  }
  @include first-breakpoint {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  @include second-breakpoint {
    max-width: 1200px;
  }
  &__title {
    font-family: "shrikhandregular";
    font-size: 1.05rem;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 20px;
    @include second-breakpoint {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  &__title,
  &__link {
    color: $color-txt-secondary;
  }
  li {
    font-family: "roboto";
    font-size: 0.97rem;
    margin-bottom: 0.3rem;
    @include first-breakpoint {
      width: 50%;
    }
    @include second-breakpoint {
      width: auto;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  ul {
    flex: 1;
    @include flex-column;
    @include first-breakpoint {
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include second-breakpoint {
      margin-left: 1.3rem;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
