/*------------------*\
      SECTIONS 
   (ETAPES DU REPAS)
\*------------------*/

.carte-resto {
  margin-bottom: 35px;
}

/*---------------*\
  LES DIFFERENTS 
   PLATS DU MENU
\*---------------*/

.plat-description {
  @include flex-column;
  justify-content: space-between;
  padding: 15px 0px 13px 10px;
  overflow: hidden;
  h3 {
    margin: 0px;
    margin-bottom: 3px;
    font-size: medium;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space:nowrap;
  }
  p {
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space:nowrap;
  }
}
