/*------------------*\
      SECTIONS 
   (ETAPES DU REPAS)
\*------------------*/

.carte-resto {
  margin-bottom: 25px;
  width: 100%;
  max-width: 398px;
  @include first-breakpoint {
    @include flex-column;
    max-width: 398px;
  }

  @include third-breakpoint {
    max-width: 742px;
  }
  
  @include fifth-breakpoint {
    width: 32%;
    margin-bottom: 0px;
  }
}

/*------------------*\
      CONTENEUR 
   PLATS DES RESTOS
\*------------------*/

.btn-plats {
  @include flex-column;

  @include third-breakpoint {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    /*width: 742px;*/
  }
 
  @include fifth-breakpoint {
    justify-content: center;
    width: 100%;
  }
}

/*---------------*\
  LES DIFFERENTS 
   PLATS DU MENU
\*---------------*/

.plat-description {
  @include flex-column;
  justify-content: space-between;
  padding: 12px 0px 12px 10px;
  overflow: hidden;
  h3 {
    margin: 0px;
    margin-bottom: 3px;
    font-size: 1.1rem;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space:nowrap;
  }
  &--title-first-line {
    margin-bottom: 0px;
  }
  p {
    font-family: "robotolight";
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space:nowrap;
  }
}
