/*--------------*\
     TITRE H1
  (NOM DU RESTO)
\*--------------*/

.title-resto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-background-secondary;
  margin: 0px 30px 20px 10px;
  &__title {
    font-family: "shrikhandregular";
    font-size: 1.7rem;
    font-weight: normal;
  }
  &__like {
    height: 21px;
    width: 23px;
    margin-bottom: auto;
    margin-top: auto;
    color: $color-background-secondary;
    @include flex-center;

    &--empty {
      height: 21px;
      color: $color-txt-secondary;
      @include heart-empty;
    }
    &--full {
      height: 23px;
      width: 23px;
      @include heart-full;
    }

    &:hover {
      .title-resto__like--empty {
        @include transition-heart-empty;
      }
      .title-resto__like--full {
        @include transition-heart-full;
      }
    }
  }

  @include first-breakpoint {
    justify-content: center;
    .title-resto__title {
      margin-right: 65px;
      margin-left: auto;
      padding-left: 30px;
      font-size: xx-large;
    }
    .title-resto__like {
      margin-right: auto;
    }
  }
}

/*-----------------*\
      TITRE H2
  (ETAPES DU REPAS)
\*-----------------*/

.title-plats {
  h2 {
    margin: 14px 0px 5px 10px;
    font-family: "robotothin";
    font-size: 0.97rem;
    text-transform: uppercase;
  }
  &__underline {
    margin-left: 11px;
    height: 3px;
    width: 40px;
    background-color: $color-underline-h2;
  }
}

@include first-breakpoint {
  .title-plats {
    &--entree {
      margin-right: auto;
    }
    &--plats {
      margin-right: auto;
    }
    &--desserts {
      margin-right: auto;
    }
  }
}

@include second-breakpoint {
  .title-plats {
    &--entree {
      margin-right: auto;
    }
    &--plats {
      margin-right: auto;
    }
    &--desserts {
      margin-right: auto;
    }
  }
}
