/*--------------*\
     TITRE H1
  (NOM DU RESTO)
\*--------------*/

.title-resto {
  display: flex;
  justify-content: space-between;
  background-color: $color-background-secondary;
  margin: 0px 10px 45px 10px;
  &__title {
    font-family: "shrikhandregular";
    font-size: x-large;
    font-weight: normal;
  }
  &__like {
    color: $color-background-secondary;

    &--empty {
      color: $color-txt-secondary;
      @include heart-empty;
    }
    &--full {
      @include heart-full
    }

    &:hover {
      .title-resto__like--empty {
        @include transition-heart-empty
      }
      .title-resto__like--full {
        @include transition-heart-full
      }
    }
  }
}

/*-----------------*\
      TITRE H2
  (ETAPES DU REPAS)
\*-----------------*/

.title-plats {
  margin-left: 10px;
  h2 {
    font-family: "robotothin";
    font-size: medium;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__underline {
    height: 3px;
    width: 40px;
    background-color: $color-underline-h2;
  }
}
