/*--------------*\
     TITRE H1
  (NOM DU RESTO)
\*--------------*/

.title-resto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-background-secondary;
  margin: 0px 10px 45px 10px;
  &__title {
    font-family: "shrikhandregular";
    font-size: x-large;
    font-weight: normal;
  }
  &__like {
    height: 21px;
    width: 23px;
    margin-bottom: auto;
    margin-top: auto;
    color: $color-background-secondary;
    @include flex-center;

    &--empty {
      height: 21px;
      color: $color-txt-secondary;
      @include heart-empty;
    }
    &--full {
      height: 23px;
      width: 23px;
      @include heart-full
    }

    &:hover {
      .title-resto__like--empty {
        @include transition-heart-empty
      }
      .title-resto__like--full {
        @include transition-heart-full
      }
    }
  }

  @include first-breakpoint {
    justify-content: center;
    .title-resto__title {
      margin-right: 65px;
      margin-left: auto;
      padding-left: 30px;
      font-size: xx-large;
    }
    .title-resto__like {
      margin-right: auto;
    }
  }
}

/*-----------------*\
      TITRE H2
  (ETAPES DU REPAS)
\*-----------------*/

.title-plats {
  h2 {
    margin-left: 10px;
    font-family: "robotothin";
    font-size: medium;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  &__underline {
    margin-left: 11px;
    height: 3px;
    width: 40px;
    background-color: $color-underline-h2;
  }
}

@include first-breakpoint {
  .title-plats {
    &--entree {
    /*margin-right: 265px;*/
    margin-right: auto;
  }
    &--plats {
      /*margin-right: 286px;*/
      margin-right: auto;
    }
    &--desserts {
      /*margin-right: 256.5px;*/
      margin-right: auto;
    }
  }
}

@include fourth-breakpoint {
  .title-plats {
    &--entree {
    margin-right: auto;
  }
    &--plats {
      margin-right: auto;
    }
    &--desserts {
      margin-right: auto;
    }
  }
}