/*-------------------*\
    #MIXINS FLEX
\*-------------------*/

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

/*-------------------*\
    #MIXIN BACKGROUND
        DEGRADE
\*-------------------*/

@mixin background-gradient {
  background: linear-gradient(
    to bottom right,
    $color-secondary,
    $color-primary
  );
}

@mixin background-gradient-hover {
  background: linear-gradient(
    to bottom right,
    $color-secondary-hover,
    $color-primary-hover
  );
}

/*
@mixin lighten-color-secondary($color:$color-secondary) {
  $color: lighten ($color-secondary, 10%);
}
*/
/*-------------------*\
    #MIXIN BOUTON
    (avec dégradé)
\*-------------------*/

@mixin btn-linear-gradient {
  height: 50px;
  margin: auto;
  @include flex-center;
  border-radius: 25px;
  @include background-gradient;
  color: $color-txt-secondary;
  @include box-shadow($color-shadow-secondary);
  &:hover {
    @include background-gradient-hover;
    @include box-shadow($color-shadow-secondary-hover);
  }
}

/*-------------------*\
    #MIXIN
    BOX-SHADOW
\*-------------------*/

@mixin box-shadow($color) {
  box-shadow: 5px 6px 10px $color;
}

/*--------------------------*\
      #MIXIN BACKGROUND
  (btn fonctionnement, index)
\*---------------------------*/

@mixin background-fonctionnement($color: $color-primary) {
  background-color: lighten($color, 35%);
}

/*-------------------*\
    #MIXIN BOUTON
        LIKE
\*-------------------*/

@mixin heart-empty {
  font-size: 1.2rem;
  opacity: 1;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  transition: all 100ms;
  position: absolute;
}

@mixin heart-full {
  font-size: 1.35rem;
  opacity: 0;
  transition: all 300ms;
  position: relative;
}

/*---------------------*\
    #MIXIN TRANSITION 
       BOUTON LIKE
\*---------------------*/

@mixin transition-heart-empty {
  opacity: 0;
  text-shadow: none;
}

@mixin transition-heart-full {
  opacity: 1;
  @include background-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
