@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin btn-linear-gradient {
    height: 50px;
    margin: auto;
    @include flex-center;
    border-radius: 25px;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    color: $color-txt-secondary;
}