$color-primary:#9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-background: rgb(241, 241, 241);
$color-white: #fff;
$color-footer: rgb(46, 45, 45);
$color-btn-new: #99e2d0;
$color-btn-new-txt: rgb(0,135,102);